language: go

go:
  - "1.16.x"

before_install:
  - go get -u golang.org/x/lint/golint

git:
  depth: 1

notifications:
  email: false

script:
  - env GO111MODULE=on make all
  - env GO111MODULE=on make checks

after_success:
  - bash <(curl -s https://codecov.io/bash)
